<html lang="en">
<%- include('./parts/head.ejs') %>

<body>
  <%- include('./parts/homeBtn.ejs') %>
  <div class="new-products">
    Despre produsul tau
  </div>
  <div class="form-wrapper">
    <form action="/home" method="POST" enctype="multipart/form-data">
      <div>

        <label for="name">Denumire produs</label>
        <input type="text" id="name" name="name" placeholder="Ex. Shaker Proteine" required>
      </div>
      <div>

        <label for="price">Pret produs</label>
        <input type="text" id="price" name="price" placeholder="Ex. 30 (RON va fi aplicat)" required>
      </div>
      <div>

        <label for="description">Descriere produs</label>
        <textarea name="description" id="description" cols="26" rows="5" placeholder='Ex. "Shaker cu o capacitate de 500ml din plastic" ' required></textarea>
        <input type="text" placeholder="Numele categoriei..." id="add-category-input" required name="title" value="<%= title %>" hidden>
      </div>
      <div>
        <label for="image">Poza produsului</label>
        <input type="file" accept="image/png,image/jpeg" id="image" name="image" class="inp">
      </div>

      <button id="post-article" class="btn" type="submit">Posteaza</button>
    </form>
  </div>


  <%- include('./parts/footer.ejs') %>
  <script>
    const chooseImg = document.querySelector('#chooseImg')
    const inpFile = document.querySelector('.inp')
    chooseImg.addEventListener('click', () => {
      inpFile.click()
    })
  </script>
</body>

</html>